*{
    box-sizing: border-box;
}

body{

    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

aside{
    font-size: 24px;
    background-color: #1CD1B0;
    text-align: left;
    padding-left: 34px;

}

h1{
    font-size: 36px;
    text-align: left;
    font-weight: bold;
    color: white;
    background-color: #00669F;
    margin-top: 0px;
    margin-bottom: 0px;
    position: sticky;
    top:0px;
    z-index: 2;
    padding-left: 20px;

}

.logo{
    vertical-align: middle;
}

h2{
    text-transform: uppercase;
    text-align: center;
}

.ppcontainer{

    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin:auto;
    position: absolute;
    z-index: 1;
    top: 186px;
    left:140px;
    
}

.batmanpp{
    background-image: url('../img/batman.jpg');
}

.wwpp{
    background-image: url('../img/wonderw.jpg');
}

.supermanpp{
    background-image: url('../img/superman.jpg');
}

.bgcontainer{
    width: 400px;
    height: 246px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.batmanbg{
    background-image: url('../img/bg-batman.jpg');
}

.wwbg{
    background-image: url('../img/bg-wonderw.jpg');
}

.supermanbg{
    background-image: url('../img/bg-superman.jpg');
}

article{
    width: 400px;
    display: inline-block;
    margin: 200px 1%;

    
}

.card-section{
    text-align: center;
}


.content{
    background-color: #F3F3F3;
    padding-bottom: 34px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 18px;
    padding-top: 40px;
    text-align: center;
    position: relative;

}

.text{
    text-align: left;
    height: 200px;
}

footer{
    background-color: #00669f;
    color: white;
    text-align: center;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    font-size: 20px;
}

button{
    background-color: #00669F;
    width: 173px;
    height: 57px;
    font-size: 18px;
    border-radius: 3.5px;
    color: white;
    font-weight: 300;
}

.github{
    width: 124px;
    position: absolute;
    bottom: 25px;
    right: 10px;

 
}

.fa-heart{
    color: red;
    font-size: 35px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.fa-plus-circle{
    font-size: 70px;
    color: #00669F;
    position: fixed;
    top: 50%;
    right: 40px;

}

.fa-plus-circle:active{
    color:#001D2D;
    ;
}

menu{
    background-color:#001D2D;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0;
    height: 40px;


}

menu *{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin: 1%;
}

