.banner{
    background-image: url('../img/lemon-pie2.jpg');
    background-size: cover;
    color:white;
    background-attachment:fixed;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}


h3{
    font-style: italic;
    font-size: 110%;
}

.merengue_italiano{
    text-decoration: underline;
    color: orange;
}

p{
    font-family: 'Nunito',Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

li,dd{
    font-family: Roboto, sans-serif;
}